In [30]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn import metrics
%matplotlib inline

In [3]:
stay_at_home_df = pd.read_csv("dataset/Stay at home.csv")

In [4]:
stay_at_home_df

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,DateTime_Out,Entity,Code,Right_Date,Stay at home requirements (OxBSG),Right_DateTime_Out
0,ARG,South America,Argentina,2020-03-11,19.0,7.0,1.0,0.0,0.420,0.155,...,5.50,16.2,27.7,76.67,2020-03-11,Argentina,ARG,"Mar 11, 2020",0,2020-03-11
1,ARG,South America,Argentina,2020-03-13,31.0,12.0,1.0,0.0,0.686,0.266,...,5.50,16.2,27.7,76.67,2020-03-13,Argentina,ARG,"Mar 13, 2020",0,2020-03-13
2,ARG,South America,Argentina,2020-03-14,34.0,3.0,2.0,1.0,0.752,0.066,...,5.50,16.2,27.7,76.67,2020-03-14,Argentina,ARG,"Mar 14, 2020",0,2020-03-14
3,ARG,South America,Argentina,2020-03-15,45.0,11.0,2.0,0.0,0.996,0.243,...,5.50,16.2,27.7,76.67,2020-03-15,Argentina,ARG,"Mar 15, 2020",0,2020-03-15
4,ARG,South America,Argentina,2020-03-16,56.0,11.0,2.0,0.0,1.239,0.243,...,5.50,16.2,27.7,76.67,2020-03-16,Argentina,ARG,"Mar 16, 2020",0,2020-03-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8612,ZWE,Africa,Zimbabwe,2020-07-25,2296.0,172.0,32.0,4.0,154.478,11.572,...,1.82,1.6,30.7,61.49,2020-07-25,Zimbabwe,ZWE,"Jul 25, 2020",2,2020-07-25
8613,ZWE,Africa,Zimbabwe,2020-07-26,2434.0,138.0,34.0,2.0,163.763,9.285,...,1.82,1.6,30.7,61.49,2020-07-26,Zimbabwe,ZWE,"Jul 26, 2020",2,2020-07-26
8614,ZWE,Africa,Zimbabwe,2020-07-27,2512.0,78.0,34.0,0.0,169.011,5.248,...,1.82,1.6,30.7,61.49,2020-07-27,Zimbabwe,ZWE,"Jul 27, 2020",2,2020-07-27
8615,ZWE,Africa,Zimbabwe,2020-07-28,2704.0,192.0,36.0,2.0,181.929,12.918,...,1.82,1.6,30.7,61.49,2020-07-28,Zimbabwe,ZWE,"Jul 28, 2020",2,2020-07-28
8616,ZWE,Africa,Zimbabwe,2020-07-29,2817.0,113.0,40.0,4.0,189.532,7.603,...,1.82,1.6,30.7,61.49,2020-07-29,Zimbabwe,ZWE,"Jul 29, 2020",2,2020-07-29

In [5]:
cleaned_stay_at_home_df = stay_at_home_df[['location','date','total_cases','total_tests','Stay at home requirements (OxBSG)']]

In [6]:
cleaned_stay_at_home_df

,location,date,total_cases,total_tests,Stay at home requirements (OxBSG)
0,Argentina,2020-03-11,19.0,158.0,0
1,Argentina,2020-03-13,31.0,282.0,0
2,Argentina,2020-03-14,34.0,331.0,0
3,Argentina,2020-03-15,45.0,410.0,0
4,Argentina,2020-03-16,56.0,510.0,0
...,...,...,...,...,...
8612,Zimbabwe,2020-07-25,2296.0,52007.0,2
8613,Zimbabwe,2020-07-26,2434.0,53346.0,2
8614,Zimbabwe,2020-07-27,2512.0,54831.0,2
8615,Zimbabwe,2020-07-28,2704.0,56000.0,2
8616,Zimbabwe,2020-07-29,2817.0,57791.0,2

In [7]:
cleaned_stay_at_home_df['cases_per_tests_ratio'] = cleaned_stay_at_home_df['total_cases']/cleaned_stay_at_home_df['total_tests']

/Users/yukon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
cleaned_stay_at_home_df

,location,date,total_cases,total_tests,Stay at home requirements (OxBSG),cases_per_tests_ratio
0,Argentina,2020-03-11,19.0,158.0,0,0.120253
1,Argentina,2020-03-13,31.0,282.0,0,0.109929
2,Argentina,2020-03-14,34.0,331.0,0,0.102719
3,Argentina,2020-03-15,45.0,410.0,0,0.109756
4,Argentina,2020-03-16,56.0,510.0,0,0.109804
...,...,...,...,...,...,...
8612,Zimbabwe,2020-07-25,2296.0,52007.0,2,0.044148
8613,Zimbabwe,2020-07-26,2434.0,53346.0,2,0.045627
8614,Zimbabwe,2020-07-27,2512.0,54831.0,2,0.045813
8615,Zimbabwe,2020-07-28,2704.0,56000.0,2,0.048286
8616,Zimbabwe,2020-07-29,2817.0,57791.0,2,0.048745

In [9]:
dummies_column = pd.get_dummies(cleaned_stay_at_home_df['Stay at home requirements (OxBSG)'])

In [10]:
cleaned_stay_at_home_df = cleaned_stay_at_home_df.join(dummies_column)

In [11]:
cleaned_stay_at_home_df.head()

,location,date,total_cases,total_tests,Stay at home requirements (OxBSG),cases_per_tests_ratio,0,1,2,3
0,Argentina,2020-03-11,19.0,158.0,0,0.120253,1,0,0,0
1,Argentina,2020-03-13,31.0,282.0,0,0.109929,1,0,0,0
2,Argentina,2020-03-14,34.0,331.0,0,0.102719,1,0,0,0
3,Argentina,2020-03-15,45.0,410.0,0,0.109756,1,0,0,0
4,Argentina,2020-03-16,56.0,510.0,0,0.109804,1,0,0,0

In [13]:
argentina_df = cleaned_stay_at_home_df[cleaned_stay_at_home_df['location'] == 'Argentina']

In [22]:
argentina_df.head()

,location,date,total_cases,total_tests,Stay at home requirements (OxBSG),cases_per_tests_ratio,0,1,2,3
0,Argentina,2020-03-11,19.0,158.0,0,0.120253,1,0,0,0
1,Argentina,2020-03-13,31.0,282.0,0,0.109929,1,0,0,0
2,Argentina,2020-03-14,34.0,331.0,0,0.102719,1,0,0,0
3,Argentina,2020-03-15,45.0,410.0,0,0.109756,1,0,0,0
4,Argentina,2020-03-16,56.0,510.0,0,0.109804,1,0,0,0

In [17]:
argentina_df.describe()

,total_cases,total_tests,Stay at home requirements (OxBSG),cases_per_tests_ratio,0,1,2,3
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.0,140.000000,140.000000
mean,32265.557143,165236.714286,2.178571,0.141684,0.050000,0.0,0.671429,0.278571
std,43779.547634,167783.752774,0.670744,0.059132,0.218728,0.0,0.471380,0.449906
min,19.000000,158.000000,0.000000,0.076394,0.000000,0.0,0.000000,0.000000
25%,2432.000000,26484.500000,2.000000,0.090216,0.000000,0.0,0.000000,0.000000
50%,9033.000000,102666.000000,2.000000,0.122041,0.000000,0.0,1.000000,0.000000
75%,46148.000000,268318.250000,3.000000,0.175485,0.000000,0.0,1.000000,1.000000
max,167403.000000,595584.000000,3.000000,0.285715,1.000000,0.0,1.000000,1.000000

In [56]:
X = argentina_df[[0,1,2,3,'total_tests']]
y = argentina_df['total_cases']

In [58]:
def TimeSeriesTrainTestSplit(x, y, test_size):
    
        test_index = int(len(X)*(1-test_size))
    
        X_train = X.iloc[:test_index]
        y_train = y.iloc[:test_index]
        X_test = X.iloc[test_index:]
        y_test = y.iloc[test_index:]
        return X_train, y_train, X_test, y_test

In [54]:
regr = linear_model.LinearRegression() # Do not use fit_intercept = False if you have removed 1 column after dummy encoding
regr.fit(X_train, y_train)
predicted = regr.predict(X_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [55]:
regr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [51]:
predicted

array([20842.42424242, 20842.42424242, 20842.42424242, 20842.42424242,
       20842.42424242, 20842.42424242, 20842.42424242, 20842.42424242,
       20842.42424242, 20842.42424242, 20842.42424242, 20842.42424242,
       20842.42424242, 20842.42424242, 20842.42424242, 20842.42424242,
       20842.42424242, 20842.42424242, 20842.42424242, 20842.42424242,
       20842.42424242, 20842.42424242, 20842.42424242, 20842.42424242,
       20842.42424242, 20842.42424242, 20842.42424242, 20842.42424242])